{% include header.html %}

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
      type();
      movingBackgroundImage();
  });
</script>

<script type="text/javascript" src="assets/js/main.js"></script>

{% include footer.html %}

 <!-- Global site tag (gtag.js) - Google Analytics -->
 <!--<script async src="https://www.googletagmanager.com/gtag/js?id=G-3EP7KLCYVP"></script>
 <script>
   window.dataLayer = window.dataLayer || [];
   function gtag() { dataLayer.push(arguments); }
   gtag('js', new Date());

   gtag('config', 'G-3EP7KLCYVP');
 </script>-->
